@import './color.css';


.dashboardBody {
    background-color: var(--main-green);
    direction: rtl;
    transition: 0.3s;
}

.darkMode .dashboardBody {
    background-color: var(--bg-darkMode);
}

.sidebar-desktop {
    background-color: #fff;
    position: fixed;
    height: 100vh;
    padding: 20px;
}

.darkMode .sidebar-desktop {
    background-color: var(--main-green-darkMode);
}

.sidebarItems {
    font-size: 20px;
}

@media (max-width: 1148px) {
    .sidebarItems {
        font-size: 16px;
    }
}

.darkMode .sidebarItems {
    font-size: 20px;
    font-weight: 600;
}

.sidebarItems_active {
    border: 3px solid var(--main-green-darkMode);
}

.darkMode .sidebarItems_active {
    border: 3px solid var(--bg-darkMode);
}

.topNav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 1rem;
}

.darkMode .topNav {
    background-color: var(--main-green-darkMode);
}

.darkMode .topNavbarName {
    font-weight: 600;
}