@import "tailwindcss";
@import './color.css';


/* --------------------------------- Fonts --------------------------------- */

@font-face {
  font-family: 'shabnam';
  src: url('../assets//fonts/shabnam/Shabnam.woff2') format('woff2'), 
      url('../assets//fonts/shabnam/Shabnam.woff') format('woff'), 
      url('../assets//fonts/shabnam/Shabnam.ttf') format('truetype');
} 

body {
  font-family: 'shabnam';
}

.text-10 {
  font-size: 10px;
  line-height: 14px;
}

.text-12 {
  font-size: 12px;
  line-height: 16px;
}

.text-14 {
  font-size: 14px;
  line-height: 20px;
}

.text-16 {
  font-size: 16px;
  line-height: 24px;
}

.text-18 {
  font-size: 18px;
  line-height: 22px;
}

.text-20 {
  font-size: 20px;
  line-height: 24px;
}

.text-24 {
  font-size: 24px;
  line-height: 30px;
}

.text-26 {
  font-size: 26px;
  line-height: 32px;
}

.text-30 {
  font-size: 30px;
  line-height: 38px;
}

.text-36 {
  font-size: 36px;
  line-height: 44px;
}

/* --------------------------------- General Components --------------------------------- */

.offcanvas_mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.darkMode .offcanvas_mobile {
  background-color: var(--main-green-darkMode);
}

.offcanvas_mobile_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 999,
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 300ms ease;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
  opacity: 0;
  transition: all 300ms ease;
}

.darkMode .modal-content {
  background-color: var(--main-green-darkMode);
}

.darkMode .modal-content span {
  font-weight: 700;
}

.modal-content.show {
  transform: scale(1);
  opacity: 1;
}

.modal-content.hide {
  transform: scale(0.95);
  opacity: 0;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  color: #000;
  width: 100%;
  text-align: end;
}

.close-button:hover {
  color: #000;
}

.logoutBtn {
  width: 100%;
  margin-top: 50px;
  background-color: var(--main-green-darkMode);
  padding: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.darkMode .logoutBtn {
  background-color: var(--bg-darkMode);
  color: #fff;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.tableBody_custom tr:nth-child(2n) {
  background-color: var(--main-green);
}

@media (max-width: 968px) {
  .table_custom thead {
    display: none;
  }

  .tableBody_custom tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border: 3px solid var(--main-green-darkMode);
    border-radius: 10px;
  }

  .tableBody_custom td {
    width: 100%;
    border: none;
    text-align: center;
  }
}

.darkMode .bg-table-darkMode {
  background-color: var(--bg-darkMode);
}

.darkMode .bg-table-darkMode tr:nth-child(n) {
  background-color: var(--bg-darkMode);
}

.darkMode .bg-table-darkMode tr:nth-child(2n) {
  background-color: var(--main-green);
}

.darkMode th, .darkMode td {
  color: var(--main-green-darkMode);
  border-color: var(--main-green-darkMode);
}

/* --------------------------------- Animations --------------------------------- */

.showSmoothly {
    opacity: 0;
    animation: slideIn_noMove 3s forwards;
}

@keyframes slideIn_noMove {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


.spinner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.configure-border-1 {
  width: 20px;
  height: 20px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black-text);
  animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
  width: 20px;
  height: 20px;
  padding: 3px;
  left: -115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-green);
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
  width: 100%;
  height: 100%;
  background-color: var(--black-text);
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}